<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo_List</title>
</head>
<body>
    <h1>Todo List</h1>
    <h3>Enter your blog here</h3>
    <form action="/submit" method="post">
        <label for="ToDONumber1">One</label>
        <input type="text" name="ToDoNumber1" id=""> 
        <!-- <label for="ToDoNumber2">Two</label>
        <input type="text" name="ToDONumber2" id="">
        <label for="Textarea">Textarea</label>
        <textarea name="Textarea" id=""></textarea> -->
        <button type="submit">Submit</button>
    </form>
    <hr>
    <% if(locals.List && List.length>0){%>
        <!-- <h2><--%= List %></h2> -->
        <ul>
        <% List.forEach(item => { %>
            <li><%= item %></li>
        <% }) %>
        </ul>

    <%  }%>
</body>
</html>