<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo_List</title>
</head>
<body>
    <h1>Todo List</h1>
    <h3>Enter your blog here</h3>
    <form action="/submit" method="post">
        <label for="ToDONumber1">One</label>
        <input type="text" name="ToDoNumber1" id=""> 
        <label for="ToDoNumber2">Two</label>
        <input type="text" name="ToDONumber2" id="">
        <label for="Textarea">Textarea</label>
        <textarea name="Textarea" id=""></textarea>
        <button type="submit">Submit</button>
    </form>
    <hr>
    <%if(locals.Number1 && !locals.Number2 && !locals.text){%>
        <h2><%=Number1 %></h2>
    <%  }else if(locals.Number1 && locals.Number2 && !locals.text){%>
        <h2><%=Number2 %> <%= Number1 %></h2>
    <%  }else if(locals.text && locals.Number1 && locals.Number2){%>
        <h2><%=text %></h2>
    <%  }%>
</body>
</html>