<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo_List</title>
</head>
<body>
    <h1>Todo List</h1>
    <h3>Enter your blog here</h3>
    <form action="" method="post">
        <label for="" name="ToDO Number 1">One</label>
        <input type="text" name="ToDo number 2" id=""> 
        <label for="" name="ToDo Number 2">Two</label>
        <input type="text" name="ToDO Number 2" id="">
        <label for="" name="Textarea">Textarea</label>
        <textarea name="Textarea" id=""></textarea>
        <button type="submit"></button>
    </form>
</body>
</html>